<div id="mainDiv" class="main-div" ng-controlle="myCtrlConfirm">
    <div class="confirm-div">
        <p class="confirm-text">
            <u><b>GENERAL INSTRUCTION</b></u><br/><br/>
            You will be taken to the exam page from here and your time will start as soon as you click on "yes, confirm for the exam" button. The exam page will open in a new window. <b>DO NOT CLOSE</b> the window before finishing or submitting it, otherwise all your response will be lost.
            <br/><br/>
            <u><b>CREDITS & TIMING</b></u><br/><br/>
            Full time for the exam = <b>100 Minutes</b><br/>
            Full marks for the exam = <b>100</b><br/><br/>
            Your each correct response will credit you with <b>+1</b> mark. And wrong answer given by you will cost you <b>-0.33</b><br/><br/>
            <u><b>EXAM INSTRUCTION</b></u><br/><br/>
            For each question, there are 4 options. One of them is correct answer.<br/><br/>
            There are 4 buttons below the question & answer panel -<br/><br/>
            <button class="navigation-button">Submit & Back</button> Submit your response and goto previous question<br/><br/>
            <button class="review-button">Mark for Review</button> Mark the question for review<br/><br/>
            <button class="reset-button">Reset Response</button> Reset your response<br/><br/>
            <button class="navigation-button">Submit & Next</button> Submit your response and goto next question<br/><br/>
        </p>
        <div class="last-confirm">
            <p class="confirm-text">
                Do you want to take the exam? Please click accordingly below<br/><br/>
                <button class="navigation-button">Yes, confirm for the exam</button>
                <button class="reset-button">No, go back to home page</button>
            </p>
        </div>
    </div>
</div>