<div class="contact-body" ng-controller="myCtrlContactList">
                <div class="container">
                                <div class="card-columns"> 



                                  <div class="card bg-light">
                                    <div class="card-body card-element">
                                      <p class="card-text card-header-custom">UI Integration</p>
                                      <label class="card-font">Standup to to discuss third party payment setup. UI functionality, specifications to be discussed</label><br/>
                                      <label class="card-font">Mumbai - </label>
                                      <label class="card-font">15 June, 2018</label><br/>
                                      <b><label class="card-font">Attendees</label></b><br/>
                                      <label class="card-font attendee-box">Suman Mandal</label><label class="card-font attendee-box">Abhishek Singh</label><label class="card-font attendee-box">Aman Kumar</label>
                                    </div>
                                    <div class="card-footer row footer-text">
                                      <div class="col-6 col-sm-6 text-center">
                                        <label>Delete</label>
                                      </div>
                                      <div class="col-6 col-sm-6 text-center">
                                        <label>View</label>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="card bg-light">
                                      <div class="card-body card-element">
                                        <p class="card-text card-header-custom">UI Integration</p>
                                        <label class="card-font">Standup to to discuss third party payment setup. UI functionality, specifications to be discussed</label><br/>
                                        <label class="card-font">Mumbai - </label>
                                        <label class="card-font">15 June, 2018</label><br/>
                                        <b><label class="card-font">Attendees</label></b><br/>
                                        <label class="card-font attendee-box">Suman Mandal</label><label class="card-font attendee-box">Abhishek Singh</label><label class="card-font attendee-box">Aman Kumar</label>
                                      </div>
                                      <div class="card-footer row footer-text">
                                        <div class="col-6 col-sm-6 text-center">
                                          <label>Delete</label>
                                        </div>
                                        <div class="col-6 col-sm-6 text-center">
                                          <label>View</label>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="card bg-light">
                                        <div class="card-body card-element">
                                          <p class="card-text card-header-custom">UI Integration</p>
                                          <label class="card-font">Standup to to discuss third party payment setup. UI functionality, specifications to be discussed</label><br/>
                                          <label class="card-font">Mumbai - </label>
                                          <label class="card-font">15 June, 2018</label><br/>
                                          <b><label class="card-font">Attendees</label></b><br/>
                                          <label class="card-font attendee-box">Suman Mandal</label><label class="card-font attendee-box">Abhishek Singh</label><label class="card-font attendee-box">Aman Kumar</label>
                                        </div>
                                        <div class="card-footer row footer-text">
                                          <div class="col-6 col-sm-6 text-center">
                                            <label>Delete</label>
                                          </div>
                                          <div class="col-6 col-sm-6 text-center">
                                            <label>View</label>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card bg-light">
                                          <div class="card-body card-element">
                                            <p class="card-text card-header-custom">UI Integration</p>
                                            <label class="card-font">Standup to to discuss third party payment setup. UI functionality, specifications to be discussed</label><br/>
                                            <label class="card-font">Mumbai - </label>
                                            <label class="card-font">15 June, 2018</label><br/>
                                            <b><label class="card-font">Attendees</label></b><br/>
                                            <label class="card-font attendee-box">Suman Mandal</label><label class="card-font attendee-box">Abhishek Singh</label><label class="card-font attendee-box">Aman Kumar</label>
                                          </div>
                                          <div class="card-footer row footer-text">
                                            <div class="col-6 col-sm-6 text-center">
                                              <label>Delete</label>
                                            </div>
                                            <div class="col-6 col-sm-6 text-center">
                                              <label>View</label>
                                            </div>
                                          </div>
                                        </div>



                                </div>
                              </div>
</div>